* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #6e214e;
    color: white;
    line-height: 1.6;
}

/* NAV */
header {
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(22, 2, 21, 0.8);
    backdrop-filter: blur(10px);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(120deg, #1a1a1a, #2d2d2d);
}

.hero h2 {
    font-size: 3rem;
}

.hero button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background: white;
    color: rgb(10, 7, 7);
    border-radius: 8px;
}

/* SECTIONS */
.section {
    padding: 80px 20px;
    max-width: 900px;
    margin: auto;
}

.dark {
    background: #1a1a1a;
}

h2 {
    margin-bottom: 20px;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.card {
    background: #2a2a2a;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

/* PROJECT */
.project {
    background: #222;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 12px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: black;
}