body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
}

section {
    margin: 16px;
    padding: 16px;
}

/* 1) Pevný bod v px */
.example-1 {
    background: rgb(38, 116, 108);
    width: 400px;
    height: 400px;
    color: rgb(255, 255, 228);
    display: grid;
    place-items: center;
}

/* 2) Rodič */
.parent {
    background: rgb(219, 105, 162);
    width: 400px;
    height: 200px;
    display: grid;
}

/* Dítě */
.child {
    background: rgb(65, 81, 172);
    width: 50%;
    height: 50%;
    display: grid;
    place-items: center;
    place-self: center;
    color: white;
}
/* Box uvnitř boxu */
.example3 {
    width: 50%;
    height: 50%;
    background: lightgreen;
}

/* Panel – základní rámeček */
.panel {
    background: lightgray;
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;

    border-width: 10px;      /* tloušťka */
    border-style: solid;
    border-color: gray;

    margin-bottom: 16px;
}

/* Mix – různé styly rámečku */
.mix {
    background: lightgray;
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;

    border-top: 6px solid red;
    border-right: 6px dashed green;
    border-bottom: 6px dotted blue;
    border-left: 6px double purple;
}
.card {
    background: lightgray;
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;
    border: 5px solid brown;
}
.box {
    background: lightgreen;
    width: 50px;
    height: 50px;
    padding:50px;
    margin: 20px auto;
    display: grid;
    place-items: center;
}
.demo1 {
    background: lightpink;
    width: 300px;
    height: 50px;

    padding: 50px;
    padding-top: 100px;

    margin: 20px auto;

    border: 10px solid black;

    display: grid;
    place-items: center;
}